<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LittleCompany.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="LittleCompany.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LittleCompany.Properties.Settings.DBConnection" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=ondor;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LittleCompany.GUI.Properties.Settings.DBConnection"
      connectionString="Data Source=(localdb)\Projects;Initial Catalog=ondor;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <LittleCompany.GUI.Properties.Settings>
      <setting name="Salt" serializeAs="String">
        <value>geheimantwoord</value>
      </setting>
    </LittleCompany.GUI.Properties.Settings>
    <LittleCompany.Properties.Settings>
      <setting name="Salt" serializeAs="String">
        <value>geheimantwoord</value>
      </setting>
    </LittleCompany.Properties.Settings>
  </applicationSettings>
</configuration>