
    .favorites-tile {
        width: 340px;
        height: 460px;

        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        background-color: #fff;
            
        margin: 20px;    
    }


    .favorites-tile .tile-title {
        background-color: #666;
        text-align: right;
                
        padding-right: 10px;
        padding-top: 2px;
        height: 18px;


        color: #afafaf;

        font-size: 0.8em;
        text-transform: uppercase;
    }

    .favorites-tile .starred-item {
        height: 60px;
        border-bottom: 1px solid #ccc;
    }

    .favorites-tile .starred-item table {
        width: 100%;
        border-spacing:0;
        border-collapse:collapse;
    }
            
    .favorites-tile .starred-item table, .favorites-tile .starred-item table tr, .favorites-tile .starred-item table tr td {
        padding: 0;
        margin: 0;
    }

    .favorites-tile .starred-item .icon {
        width: 40px;
        height: 40px;
        padding: 10px;
        text-align: center;
    }

    .favorites-tile .starred-item .itemtext {
        vertical-align: middle;
        padding-bottom: 8px;
    }

            
    .favorites-tile .starred-item .itemtext .itemtextcontent {
        height: 36px;
    }
            
    .favorites-tile .starred-item .itemtitle {
        font-size: 1em;
    }

    .favorites-tile .starred-item:hover {
        background-color: #f2f2f2;
    }
            
    .favorites-tile .starred-item .itemtext .itemtype {
        font-size: 0.7em;
        color: #999;
    }
            
    .favorites-tile .starred-item .star {
        width: 20px;
        height: 20px;
        padding: 20px;
    }


    /*organisation*/
    .favorites-tile .starred-item.organisation .itemtitle {
        color: #AEB521;
    }
            
    .favorites-tile .starred-item.organisation .icon {
        /*canvas*/
    }

    /*contact person*/
    .favorites-tile .starred-item.contactperson .itemtitle {
        color: #00A3DF;
    }
            
    .favorites-tile .starred-item.contactperson .icon {
        /*canvas*/
    }

    /*file*/
    .favorites-tile .starred-item.file .itemtitle {
        color: #82368C;
    }
            
    .favorites-tile .starred-item.contactperson .icon {
        /*canvas*/
    }
