
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

    * {
        cursor: default;
    }

    body {
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: #ebecec;
        font-family: 'Open Sans', Arial, sans-serif, sans;
    }


    #header, .header {
        height: 60px;
        background-color: #0D7FAC;
        padding: 0 20px;
    }

    .header .logo, #header #logo {
        font-family: Corbel, Arial, sans-serif, sans;
        font-size: 30px;
        float: left;
        color: #fff;
        height: 50px;
        margin-top: 10px;
    }

    #navigation {
        width: 120px;
        float: left;
        background-color: #dadada;
    }

    .oxsection {
        padding-left: 120px;
    }

    .hide {
        display: none !important;
    }

    /*INPUT*/
    input[type='text'] {
        border: 1px solid #afafaf;
    }

    input[type='text']:focus {
        border: 1px solid #0D7FAC;
        outline: none;
    }


    /*POPUP*/
    #popupwrapper {
        width: 100%;
        position: absolute;
        z-index: 10;
    }

    .popup {
        
        background-color: #fff;
        border: 1px solid #ccc;
        
        width: 400px;
        margin: 0 auto;

        -moz-box-shadow: 0 0 10px #888;
        -webkit-box-shadow: 0 0 10px#888;
        box-shadow: 0 0 10px #888;

    }

    .popup .popup-inner {
        padding: 20px 30px;
        min-height: 100px;
        
    }

    .popup .title {
        padding: 10px 0 20px 0;
        color: #0D7FAC;
    }

    .popup label {
        font-size: 0.8em;
        color: #666;
    }

    .popup .buttonrow {
        padding-top: 30px;
    }

    .popup .buttonrow input[type='submit'] {
        float: right;
        text-transform: capitalize;
    }

    .popup .buttonrow .cancel {
        color: #666;
        font-size: 0.8em;
        text-transform: capitalize;
    }




    .blanket {
        position: absolute;
        z-index: 9;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        background-color: #afafaf;
        opacity: 0.3;
    }


    /*search*/
    #mainsearchbar {
        position: absolute;
        z-index: 11;
        margin-left: 210px;
    }

    #mainsearchform {
        padding-top: 15px;
    }
    
    #mainsearchform .searchquery {
        width: 340px;
        height: 31px;
        font-size: 1em;
        padding: 0 10px;
        border: 1px solid transparent;
    }

    #mainsearchform .searchquery:focus {
        border: 1px solid #0D7FAC;
    }

    #mainsearchform .submit {
        height: 32px;
        margin: 0;
        background-color: #90AE58;
        color: #fff;
        border: none;
    }

    #mainsearchbar .quicksearchresults {
        background-color: #dadada;
        width: 425px;
        
        padding: 10px;
        padding-top: 45px;
        margin-top: -38px;
        margin-left: -10px;
        display: none;
    }

    #mainsearchbar .quicksearchresults .noresults {
        font-size: 0.8em;
        color: #fff;
        font-style: italic;
        background-color: #afafaf;
        height: 20px;
        padding: 20px 10px;
    }


    /*OBJECT ITEM VIEW*/
    
    .object-item {
        height: 60px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
    }

    .object-item table {
        width: 100%;
        border-spacing:0;
        border-collapse:collapse;
    }
            
    .object-item table, .object-item table tr, .object-item table tr td {
        padding: 0;
        margin: 0;
    }

    .object-item .icon {
        width: 40px;
        height: 40px;
        padding: 10px;
        text-align: center;
    }

    .object-item .itemtext {
        vertical-align: middle;
        padding-bottom: 8px;
    }

            
    .object-item .itemtext .itemtextcontent {
        height: 36px;
    }
            
    .object-item .itemtitle {
        font-size: 1em;
    }

    .object-item:hover {
        background-color: #f2f2f2;
    }
            
    .object-item .itemtext .itemtype {
        font-size: 0.7em;
        color: #999;
    }
            
    .object-item .star {
        width: 20px;
        height: 20px;
        padding: 20px;
    }


    /*organisation*/
    .object-item.organisation .itemtitle {
        color: #AEB521;
    }
            
    .object-item.organisation .icon {
        /*canvas*/
    }

    /*contact person*/
    .object-item.contactperson .itemtitle {
        color: #00A3DF;
    }
            
    .object-item.contactperson .icon {
        /*canvas*/
    }

    /*file*/
    .object-item.file .itemtitle {
        color: #82368C;
    }
            
    .object-item.contactperson .icon {
        /*canvas*/
    }


/*====CONSOLE====*/

    #console {
        background-color: #333;
        color: #fff;
        
        height: 60%;
        width: 100%;

        position: absolute;
        bottom: 0;
        z-index: 100;
    }

    #console .logs {
        height: 90%;
        overflow-y: scroll;

        padding: 10px;
        
        white-space: nowrap;
    }

    #console .logs .log {
        font-size: 0.8em;
    }

    #console .commandline {
        height: 30px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    #console .commandline .commandlineinput {
        height: 30px;
        width: 99%;
        padding: 0 10px;
        border: 0;
    }

    #console .commandline .commandlineinput:focus {
        border: 0;
    }


    /*====BUTTONS MAIN MENU====*/

    #navigation .section .button {
        width: 88px;
        height: 88px;
        background-color: #fff;
        border: 1px solid #ccc;
        font-size: 0.8em;
        margin: 15px;
        text-align: center;
        color: #666;
        overflow: hidden;
    }

    #navigation .section .button:hover {
        border-color: #999;
        background-color: #f2f2f2;
    }

    #navigation .section .button .icon {
        height: 60px;
        text-align: center;
        font-size: 3em;
        font-weight: 600;
    }

    #navigation .section .button .icon.texticon {
        padding-top: 5px;
        margin-bottom: -15px;
    }

    #navigation .section .button .caption {
        
    }